<li class="nav-item dropdown-shortcuts navbar-dropdown dropdown me-1 me-xl-0">
    <a
      class="nav-link btn btn-text-secondary rounded-pill btn-icon dropdown-toggle hide-arrow"
      href="javascript:void(0);"
      data-bs-toggle="dropdown"
      data-bs-auto-close="outside"
      aria-expanded="false">
      <i class="ri-star-smile-line ri-22px"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-end py-0">
      <div class="dropdown-menu-header border-bottom py-50">
        <div class="dropdown-header d-flex align-items-center py-2">
          <h6 class="mb-0 me-auto">Services</h6>
          <!-- <a
            href="javascript:void(0)"
            class="btn btn-text-secondary rounded-pill btn-icon dropdown-shortcuts-add text-heading"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Add shortcuts"
            ><i class="ri-add-line ri-24px"></i
          ></a> -->
        </div>
      </div>
      <div class="dropdown-shortcuts-list scrollable-container">
        <div class="row row-bordered overflow-visible g-0">
          <div class="dropdown-shortcuts-item col">
            <span class="dropdown-shortcuts-icon rounded-circle mb-3">
              <i class="ri-signal-tower-line ri-26px text-heading"></i>
            </span>
            <a href="/akses" class="stretched-link">Access Logs</a>
            <small class="mb-0">Office Utility System</small>
          </div>
        </div>
        
      </div>
    </div>
  </li>